/* CSS Document */



#divmain{
	width:600px;
	height:300px;
	margin:0 auto;
	margin-top:50px;
	background-image:url(../img/timg.jpg);
	border:#000 1px solid;
}
#divte{
	font-size:30px;
}
#button{
	width:80px;
	height:30px;
	background: transparent;	
}